<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /suri/

    # Redirect Trailing Slashes...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Check if the requested file or directory exists
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # If not, rewrite the URL to index.php
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
